@import "tailwindcss";

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        overflow-x: hidden;
    }

    .project-card {
        width: 100%;
        min-width: 0;
    }
}